torch==2.9.1
torchvision==0.24.1
torchaudio==2.9.1
styletts2
faster-whisper
ffmpeg-python
pydub
fastapi
uvicorn
python-multipart
numpy==1.26.4
scipy
pyyaml
librosa
phonemizer
nltk
soundfile
transformers
resemblyzer
opencv-python
filelock==3.12.4
rembg
num2words
nemo_text_processing
groq
python-dotenv
click
tensorboard
munch
pandas
matplotlib
accelerate
einops
einops-exts
tqdm
git+https://github.com/resemble-ai/monotonic_align.git
networkx==2.8.8
